@font-face {
  font-family: "Muller";
  src: 
    url(/assets/font/mullerregular-webfont.woff) format(woff),
    url(/assets/font/mullerregular-webfont.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: 
    url(/assets/font/mullermedium-webfont.woff) format(woff),
    url(/assets/font/mullermedium-webfont.woff2) format(woff2);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: 
    url(/assets/font/mullerbold-webfont.woff) format(woff),
    url(/assets/font/mullerbold-webfont.woff2) format(woff2);
  font-weight: 700;
  font-style: normal;
}