* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Muller", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: $text;
  background-color: $white-bg;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $text;
}

button {
  background: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}