.companies {
  padding: $section-padding;
  background-color: #ff9C7d;
}

.companies__title {
  margin: 0 auto;
  margin-bottom: 70px;
  max-width: 720px;
}

.companies__logo {
  @include flex-center;
  justify-content: space-between;
}